<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDP8alJLGfCIfLvclGEUdsRY5ukmYin-iE</string>
	<key>GCM_SENDER_ID</key>
	<string>710849023513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AIDMATE</string>
	<key>PROJECT_ID</key>
	<string>carebot-d0a6b</string>
	<key>STORAGE_BUCKET</key>
	<string>carebot-d0a6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710849023513:ios:e9958e4134d0b6bf76e488</string>
</dict>
</plist>